* {
    box-sizing: border-box;
}

i {
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    padding: 4px;
    overflow: hidden;
}

button,
input,
select,
textarea {
    font: inherit;
    line-height: inherit;
}

textarea {
    resize: none;
}

input[type='checkbox'],
input[type='radio'] {
    width: 1em;
    height: 1em;
}

/*
tbody {
    background-color: #e4f0f5;
}

thead,
tfoot {
    background-color: #3f87a6;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 4px;
}
  
tr:nth-child(even){
    background-color: #f2f2f2;
}
  
tr:hover {
      background-color: #ddd;
}
  
th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: grey;
    color: white;
}*/

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: .8rem;
}

/*
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}*/